frontend localnodes
    bind *:6443
    mode tcp
    default_backend nodes
    timeout client          1m

backend nodes
    mode tcp
    balance roundrobin
{% for host in masterservers %}
    server {{ hostvars[host].inventory_hostname}} {{ hostvars[host].ansible_host  }}:6443;
{% endfor %}
    timeout connect        10s
    timeout server          1m

frontend mojaloop
    bind *:30000
    mode tcp
    default_backend nginx-ingress
    timeout client          1m

backend nginx-ingress
    mode tcp
    balance roundrobin
{% for host in workerservers %}
    server {{ hostvars[host].inventory_hostname}} {{ hostvars[host].ansible_host  }}:30001;
{% endfor %}
    timeout connect        10s
    timeout server          1m


frontend wso2
    bind *:9443
    mode tcp
    default_backend wso2-backend
    timeout client          1m

backend wso2-backend
    mode tcp
    balance roundrobin
{% for host in workerservers %}
    server {{ hostvars[host].inventory_hostname}} {{ hostvars[host].ansible_host  }}:32443;
{% endfor %}
    timeout connect        10s
    timeout server          1m

frontend wso2-http
    bind *:8280
    mode tcp
    default_backend wso2-http-backend
    timeout client          1m

backend wso2-http-backend
    mode tcp
    balance roundrobin
{% for host in workerservers %}
    server {{ hostvars[host].inventory_hostname}} {{ hostvars[host].ansible_host  }}:32280;
{% endfor %}
    timeout connect        10s
    timeout server          1m

frontend wso2-api-serivce
    bind *:8243
    mode tcp
    default_backend wso2-api-service-backend
    timeout client          1m

backend wso2-api-service-backend
    mode tcp
    balance roundrobin
{% for host in workerservers %}
    server {{ hostvars[host].inventory_hostname}} {{ hostvars[host].ansible_host  }}:32243;
{% endfor %}
    timeout connect        10s
    timeout server          1m


frontend wso2-iskm
    bind *:9543
    mode tcp
    default_backend wso2-iskm
    timeout client          1m

backend wso2-iskm
    mode tcp
    balance roundrobin
{% for host in workerservers %}
    server {{ hostvars[host].inventory_hostname}} {{ hostvars[host].ansible_host  }}:31443;
{% endfor %}
    timeout connect        10s
    timeout server          1m


frontend wso2-internal
    bind *:9843
    mode tcp
    default_backend wso2-backend-internal
    timeout client          1m

backend wso2-backend-internal
    mode tcp
    balance roundrobin
{% for host in workerservers %}
    server {{ hostvars[host].inventory_hostname}} {{ hostvars[host].ansible_host  }}:30443;
{% endfor %}
    timeout connect        10s
    timeout server          1m

frontend wso2-api-serivce-internal
    bind *:8843
    mode tcp
    default_backend wso2-api-service-backend-internal
    timeout client          1m

backend wso2-api-service-backend-internal
    mode tcp
    balance roundrobin
{% for host in workerservers %}
    server {{ hostvars[host].inventory_hostname}} {{ hostvars[host].ansible_host  }}:32244;
{% endfor %}
    timeout connect        10s
    timeout server          1m

frontend wso2-http-internal
    bind *:8844
    mode tcp
    default_backend wso2-http-backend-internal
    timeout client          1m

backend wso2-http-backend-internal
    mode tcp
    balance roundrobin
{% for host in workerservers %}
    server {{ hostvars[host].inventory_hostname}} {{ hostvars[host].ansible_host  }}:32245;
{% endfor %}
    timeout connect        10s
    timeout server          1m